/*////////   iPhone 6/7/8 plus    ///////////*/
@media screen and (max-width: 500px) {
  
  html, body, form {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  .Header_headerContainer, .Index_container, .Header_headerBottom, {
    width: inherit;
  }
  
  .Header_headerBottomContainer {
    margin: auto;
    position: relative;
    display: inline-block;

  }
  
  .Header_headerNavbar {
    width: 100%;
    margin-top: 10px;
    padding: 0px 10px 0px 10px;
    overflow: hidden;
    
  }
  
  .Header_headerNav {
    width: 100%;
    margin: auto;
    font-size: 12px;
    text-align: right;
    overflow: hidden;
  }
  
    .Banner_bannerContainer { 
        width: 100%;
        height: 150px; /*top banner hight*/
    }
    
    .Banner_bannerTitle {
        font-family: Ubuntu medium;
        width: 120px;
        height: 19px;
        text-align: left;
        align-content: flex-start;
        font-size: 25px;
    }
  
    .TopLogo {
        width: 100%;
        height: auto;
        margin: 0;
        align-content: flex-start;
        padding: 0px 0px 0px 0px;
    }
    .Index_messagesDesktop_pvd {
      background-color: #fff;
      height: 100px;
    }
    .txtContainer {
      background-color: #fff;
      min-height: 500px; 
      width: 100%; 
      padding-top: 1%; 
      padding-bottom: 1%;
    }
    .txtBoxStp2 {
        background-color: #fff;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 20px;
        padding-bottom: 5px;
        width: 100%;
        display: flex;
        justify-content: center;
        height: 350px;
    }
    .innerTxtStp2 {
        background-color: #fff; 
        width: 80%;
        overflow: auto;
    }
    .WelcomeBIDMC {
        background-color: #ffffff;
        padding: 10px 47px 0px 47px;
        width: 100%;
        height: 70px;
        text-align: center;
        font-family: Roboto Medium;
        font-size: 28px;
        color: #1758B9;
    }
    .centerText {
        text-align: center;
        padding: 0px 40px 0px 40px;
        font-family: Roboto Light;
        font-size: 20px;
        
    }
    .dateDiv {
        
        width: 80%; 
        display: inline-block; 
        flex-wrap: wrap;
        
    }
    .txtDob {
        /*background: url(./calendar.svg) no-repeat scroll right;*/
        padding-right: 8px;
        align-content: center;
        width: 100%;
        height: 36px;
        border: 1px solid lightgray; 
        border-radius: 5px; 
        padding-left: 8px;
    }

    /*  Hover effect for buttons  */
    .btn.btn-primary#lbtnStep1 {
        background-color: #CACED2;
        color: #504F4F;
        width: 294px;
        height: 40px;
        font-family: Roboto;
        font-size: 18px;    
    }
    .btn.btn-primary#lbtnStep1:hover {
        background-color: #F57530;
        color: #fff;
    }
  
    .btn.btn-primary#lbtnStep2 {
        background-color: #CACED2;
        color: #504F4F;
        width: 294px;
        height: 40px;
        font-family: Roboto;
        font-size: 18px;    
    }
    .btn.btn-primary#lbtnStep2:hover {
        background-color: #F57530;
        color: #fff;
    }
    .btn.btn-primary#lbtnStep3 {
        background-color: #CACED2;
        color: #504F4F;
        width: 294px;
        height: 100%;
        font-family: Roboto;
        font-size: 18px;    
    }
    .btn.btn-primary#lbtnStep3:hover {
        background-color: #F57530;
        color: #fff;
    }
    .sendBtn {
        width: 30%;
        height: 47px;
        background-color: #CACED2;
        color: #504F4F;
    }
    .sendBtn:hover {
        background-color: #F57530;
        color: #fff;
    }
    .chatBtn {
      position: absolute;
      bottom: 0px;
      color: #2C378C;
      font-family: Roboto;
      display: flex;
      justify-content: center;
      align-items: center;
      border-width: 1px 0px 1px 0px solid;
      border-style: solid;
      border-color: #E6E6E6;
      width: 90%;
      margin-left: 5%;
      height: 47px;
  }
  .chatBtn:hover {
      background-color: #F57530;
      color: #fff;
  }
  .sendBtn {
      width: 30%;
      height: 47px;
      background-color: #CACED2;
      color: #504F4F;
  }
  .sendBtn:hover {
      background-color: #F57530;
      color: #fff;
  }
/*^^^^^^^  Hover effect buttons ^^^^^*/
  
  .icon {
        padding: 10px;
        background: dodgerblue;
        color: white;
        min-width: 50px;
        text-align: center;
    }

    .calIcon {
        padding: 1px;
        align-content: center;
        width: 24px;
        height: 24px;
    }
    .getStartedtxt {
        align-content: center;
        width: inherit;
    }
    .getStartedtxt > p {
        text-align: center;
        font-family: Roboto, bold;
        font-size: 16px;
    }
    .Header_headerNav p {
       text-align: right;
       color: #CACED2;
       font-family: 'Roboto', sans-serif;
       font-weight: 500;
       font-style: normal;
       font-size: 11px;
       text-decoration: none;
    }
    .progBar {
        width:100%;
        height: 70px;
        
    }
  
/*     Dropdown Menu Code     */
  
    .dropbtn {
    background-color: #FFF;
    color: #2C378C;
    padding: 6px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown {
    float: right;
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    font-family: Roboto light;
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #f1f1f1;}

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #FFF;
    text-decoration: underline;
  }
  
/* ^^^^Dropdown Menu Code^^^^ */
    
    
  /* This functions are for TeleHealthConsent2.htm */
  .inputWrapper {
    width: 100%;
    height: 160px;
    position: absolute;
    top: 450px;
    left: 0;
    padding: 8px;
    display: flex;
    text-align: center;
  }
  /*This controls the inputbox position*/
  #inputConsent2 {
      width: 100%;
      /*background-color: violet;*/
      position: absolute;
      top: 10%;
      right: 0%;
    }
  .messageHeadLabel {
    position: relative;
    color: #4F4F4F;
    font-family: Roboto;
    font-size: 14px;
    width: 100%;
  }
  .messageHeadLabel#hdlabelConsent2 {
      position: absolute;
      width: 70%;
      top: 30%;
      left: 15%;
      text-align: left;
  }
  #txtPatientInput {
    margin-top: 12%;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding-left: 8px;
    width: 294px; 
    height: 36px;
  }
  /* Controls position of the BOTTON */
  .btnWrapper{
    position: absolute;
    bottom:0%;
    left: 0;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  /* Functions for TeleHealthWaitingRoom.htm */
  .waitingState {
    width: 100%;
    height: 70%;
  }
  .connectingState {
    width: 100%;
    height: 100%;
    
  }
  .connectingState {
    font-family: Roboto;
    text-align: center;
    padding: 30px 40px 0px 40px;
  }
  #lbtnStep3 {
      background-color: #F57530;
      color: #fff;
      height: 46px;
  }
    .Index_container {
      height: 650px;
    }
    .Banner_bannerWhiteContainer{
        background-color: #fff;
        width: 90%;
        height: 500px;
        margin: 10px 0px 0px 0px;
    }

  .chatBar {
    font-family: Roboto Medium;
    font-size: 14px;
    color: #fff;
    text-align: center;
    padding: 2px 2px 2px 2px;
    margin-top: 10%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 22px;
    background-image: -webkit-gradient(linear, left top, right top, from(#1c9bd7), to(#283891));
  }
  .contentFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
   
  }

  .MSNfield {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: none;
  }
  .dateDiv > label {
    width: 100%;
    text-align: left;
  }
  .welcomeWrapperRight  {
    text-align: center;
  }
  .consentBtn {
    position: absolute;
    left: 10%;
    top: 490px; 
    width: 80%; 
    display: flex; 
    justify-content: center;
  }
  .thksTXT {
    align-content: center;
    padding-left: 20px; 
    padding-right: 20px; 
    padding-top: 40px; 
    padding-bottom: 5px; 
    width: 100%;
  }
  .thksTXTcont > p {
    width: 100%; 
    height: auto; 
    overflow: auto; 
    text-align: center;
     
    
  }
  .HeaderTxt {
    font-family: Roboto;
    font-size: 28px;
  }
  .subTitle {
    font-family: Roboto light;
    font-size: 16px;
  }
  .waitHeader {
    margin: 30px 0px 5px 0px;
    line-height: 14px;
    text-align: center;
    font-family: Roboto medium;
    font-size: 14px;
  }
  .waitSubTitle {
    margin: 0;
    line-height: 16px;
    text-align: center;
    font-family: Roboto Black;
    font-size: 16px;
  }
  .waitingWrapperLeft, .waitingWrapperRight {
    margin: 0px;
    font-family: Roboto;
    text-align: center;
    padding: 30px 40px 0px 40px;
  }
  .waitingWrapperLeft {
    
  }
  .waitingWrapperRight {
    padding: 0px;
  }
  .connectingHeader {
      font-family: Roboto medium;
      margin: 0;
      font-size: 14px;
  }
  .connectingSubTitle {
      font-family: Roboto black;
      font-size: 19px;
  }
  #txtIphone {
    position: absolute;
    right: 10%;
    text-align: center;
    width: 80%;
  }
  .counterLBL {
    font-family: Roboto light;
  }
  .counter {
    font-family: Roboto Medium; 
    font-size: 100px; 
    color: #2C378C;  
    margin: 0; 
    line-height: 90px;
  }
  .seconds {
    font-family: Roboto Medium; 
    font-size: 16px; 
    padding-top: 0;
  }
  .bntCall {
    padding-left: 2%; 
    padding-right: 2%; 
    padding-top: 5px; 
    padding-bottom: 5px; 
    width: 100%; 
    display: flex; 
    justify-content: center;
  }
  .chatInput {
    height: 47px;
    width: 68.7%;
  }
    .contentInput {
    width: 85%; 
    height: 50px;
    display: flex; 
    flex-wrap: wrap;
  }
  .inputBox {
    width: 100%; 
    border: 1px solid lightgray; 
    border-radius: 5px; 
    padding-left: 8px; 
  }
  .boxContentsInput {
    width: 100%;
    height: 49px;
  }
    
}
/*    ////////////////    */